#site {
width: 100%;
height: 100%;
background-color: blue;
margin: 0; 
padding: 0px;
font-family: "Calibri", clean;
}

#topo {
width: 100%;
height: 15%;
background-color: #191919;
margin: 0; 
padding: 0px;
float: top;
}

#logo {
	
	}

#conteudo {
width: 100%;
height: 80%;
background-color: #FFFFFF;
margin: 0; 
padding: 0px;
float: left;
}

	#menu {
	width: 20%;
	height: 100%;
	background-color: #FFFFFF;
	margin: 0; 
	padding: 0px;
	float: left;
	}

	#menu ul {
		list-style-type:none;
		margin: 5px; 
		padding: 0px;
		font-family: "Calibri", clean;
		font-size: 15px;
		line-height: 150%;

	}

	#menu ul li {
		border-bottom: 1px solid #000000;
	}

	#menu ul li:hover {
		border-bottom: 1px solid #000000;
		background-color:#161616;
		color: #FFFFFF;
	}

	#formulario_cliente {
	width: 80%;
	height: 100%;
	background-color: #FFFFFF;
	margin: 0px; 
	padding: 0px;
	float: right;
	line-height: 150%;	
	}

	#fieldCliente {
	width: 100%;
	height: 100%;

	}

	#fieldCliente1 {
		width: 50%;
		height: 100%;
		float: left;
	}
	#fieldCliente2 {
		width: 50%;
		height: 100%;
		float: left;
		line-height: 250%;
		text-align: right;
	}

/*FORMATAÇÃO DOS BOTOES*/
	input[type=button]{
		width: 150px;
	}

	button{
		width: 150px;
	}
/*FINAL FORMATAÇÃO BOTOES*/



#rodape {
width: 100%;
height: 5%;
background-color: #191919;
margin: 0; 
padding: 0px;
float: bottom;
text-align: center;
font-size: 10px;
color: #FFFFFF;
clear: both;
}


