@CHARSET "ISO-8859-1";
input[type=button]{
	width: 150px;
	font-family: "Calibri", sans-serif;
	border-radius: 5px;
	margin-right: 15px;
}

select {
	width: 150px;
	font-family: "Calibri", sans-serif;
}

input[type=submit]{
	width: 150px;
	font-family: "Calibri", sans-serif;
	border-radius: 5px;
	margin-right: 15px;
}




