@CHARSET "ISO-8859-1";
input[type=button]{
	width: 150px;
	font-family: "Calibri", clean;
}

select {
	width: 150px;
	font-family: "Calibri", clean;
}

input[type=submit]{
	width: 150px;
	font-family: "Calibri", clean;
}

